// Colors
$color__white       :          #FFFFFF;
$color__Black       :          #000000;
$color__pink        :          #CB007B;
$color__red         :          #cf313f;
$color__dark__red   :          #9d0a0e;
$color__brown       :          #a98975;
$color__lightBlue   :          #00abc5;
$color__green       :          #1b9f99;
$color__gray        :          #8d1738;
$color__silver      :          #757575;

// Fonts
$font-noto-sans     :         'Noto Sans Arabic';